$blue: #5c7aff;
$light-blue: #a0dde6;
$pink: #f9b9f2;
$grey: #0b3954;
$rich-black: #0c1821;
$white: #f1e4f3;

// font-family: pt sans;
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

// scrollbar
::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  color: $white;
  font-family: "pt sans", sans-serif;
  scroll-behavior: smooth;
  &::selection {
    color: $light-blue;
    background-color: #0c18213c;
  }
  body {
    background-color: $grey;
    .test {
      position: fixed;
      border: 1px solid $white;
      background-color: red;
      font-size: 1rem;
      left: 10px;
      top: 10px;
      padding: 5px;
      border-radius: 10px;
      z-index: 999;
    }
  }
  .hamburger {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 999;
    span {
      border-radius: 20px;
      width: 25px;
      height: 3px;
      margin: 2px 0;
      background-color: $white;
      transition: 0.2s;
    }
    &.active {
      span:nth-child(2) {
        opacity: 0;
      }
      span:nth-child(1) {
        transform: rotate(45deg) translate(4px, 6px);
      }
      span:nth-child(3) {
        transform: rotate(-45deg) translate(4px, -6px);
      }
    }
  }

  .navcontainer {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 50%;
  }

  ul {
    &.nav {
      height: fit-content;
      width: fit-content;
      justify-content: center;
      align-items: center;
      transition: 0.5s;
      display: none;
      text-align: center;
      line-height: 150%;
      font-size: 2rem;
      list-style-type: none;
      position: fixed;
      z-index: 999;
      &.active {
        display: block;
      }
      &:hover li a {
        filter: opacity(0.4);
      }
      li a:hover {
        filter: none;
      }
      a {
        position: relative;
        text-decoration: none;
        &::before {
          content: "";
          position: absolute;
          width: 0;
          height: 2px;
          bottom: 0;
          left: 0;
          border-radius: 5px;
          background-color: $white;
          visibility: hidden;
          transition: width 0.3s ease;
        }
        &:hover {
          &::before {
            visibility: visible;
            width: 100%;
          }
        }
      }
    }
  }
}
