@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  color: #f1e4f3;
  font-family: "pt sans", sans-serif;
  scroll-behavior: smooth;
}
*::selection {
  color: #a0dde6;
  background-color: rgba(12, 24, 33, 0.2352941176);
}
* body {
  background-color: #0b3954;
}
* body .test {
  position: fixed;
  border: 1px solid #f1e4f3;
  background-color: red;
  font-size: 1rem;
  left: 10px;
  top: 10px;
  padding: 5px;
  border-radius: 10px;
  z-index: 999;
}
* body main {
  background: rgb(11, 57, 84);
  background: linear-gradient(180deg, rgb(11, 57, 84) 0%, rgb(18, 94, 138) 100%);
  transition: 0.2s;
}
* body main .download {
  position: fixed;
  left: 5px;
  top: 10px;
  z-index: 1;
}
* body main .download a {
  text-decoration: none;
  background-color: #f1e4f3;
  padding: 5px;
  border-radius: 5px;
  color: #0b3954;
  transition: 0.3s;
}
* body main .download a:hover {
  background-color: #f1e4f3;
  color: #0b3954;
  border-radius: 10px;
}
* body main.blur {
  filter: blur(10px) brightness(0.5);
  background: rgba(0, 0, 0, 0.4392156863);
  cursor: default;
}
* body main .title {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
* body main .title h1 {
  font-size: 3.5rem;
}
* body main .title p {
  position: absolute;
  bottom: 10px;
}
* body main .intro {
  position: relative;
  background: url(./ressources/photo-1589128995173-e1cd084b3db9.jpeg) no-repeat fixed center/cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
* body main .intro::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5843137255);
}
* body main .intro p {
  text-align: justify;
  width: 60%;
  line-height: calc(7px + 4vw);
  font-size: calc(1rem + 0.5vw);
  position: relative;
  z-index: 100;
}
* body main .history {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20rem;
}
* body main .history h1 {
  font-size: 3.5rem;
}
* body main .history p {
  text-align: justify;
  width: 75%;
  line-height: calc(7px + 4vw);
  font-size: calc(1rem + 0.5vw);
}
* body main .working {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
* body main .working h1 {
  font-size: 3.5rem;
}
* body main .working p {
  text-align: justify;
  width: 70%;
  line-height: calc(7px + 4vw);
  font-size: calc(1rem + 0.5vw);
  margin-right: 20px;
}
* body main .working img {
  width: 50%;
}
* body .hamburger {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  z-index: 999;
}
* body .hamburger span {
  border-radius: 20px;
  width: 25px;
  height: 3px;
  margin: 2px 0;
  background-color: #f1e4f3;
  transition: 0.2s;
}
* body .hamburger.active span:nth-child(2) {
  opacity: 0;
}
* body .hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(4px, 6px);
}
* body .hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -6px);
}
* body .navcontainer {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 50%;
}
* body ul.nav {
  height: fit-content;
  width: fit-content;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  display: none;
  text-align: center;
  line-height: 150%;
  font-size: 2rem;
  list-style-type: none;
  position: fixed;
  z-index: 999;
}
* body ul.nav.active {
  display: block;
}
* body ul.nav:hover li a {
  filter: opacity(0.4);
}
* body ul.nav li a:hover {
  filter: none;
}
* body ul.nav a {
  position: relative;
  text-decoration: none;
}
* body ul.nav a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  background-color: #f1e4f3;
  visibility: hidden;
  transition: width 0.3s ease;
}
* body ul.nav a:hover::before {
  visibility: visible;
  width: 100%;
}

@media screen and (max-width: 1130px) {
  .working img {
    display: none;
  }
  .working {
    width: 100%;
  }
  .explain {
    flex-direction: row;
  }
}

/*# sourceMappingURL=style.css.map */
